.section {
  position: relative;
  padding: var(--section-vertical) var(--section-horizontal);
}

@media screen and (max-width: 991px) {
  .section {
    padding: var(--section-vertical-tablet) var(--section-horizontal-tablet);
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: var(--section-vertical-mobile) var(--section-horizontal-mobile);
  }
}

.section.is-bg-gray {
  background-color: var(--grayBg-8a399b0a);
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
}

.container.is-narrow {
  max-width: 800px;
}

.template-hero-content {
  display: flex;
  max-width: 553px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.spacer-h1 {
  width: 100%;
  padding-top: var(--h1-spacer);
}

@media screen and (max-width: 991px) {
  .spacer-h1 {
    padding-top: var(--h1-spacer-tablet);
  }
}

@media screen and (max-width: 479px) {
  .spacer-h1 {
    padding-top: var(--h1-spacer-mobile);
  }
}

.paragraph-large {
  font-size: var(--p-large-font-size);
  line-height: var(--paragraph-line-height);
}

.spacer-buttons {
  width: 100%;
  padding-top: var(--buttons-spacer);
}

@media screen and (max-width: 991px) {
  .spacer-buttons {
    padding-top: var(--buttons-spacer-tablte);
  }
}

@media screen and (max-width: 479px) {
  .spacer-buttons {
    padding-top: var(--buttons-spacer-mobile);
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

@media screen and (max-width: 479px) {
  .button-group {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.button-group.no-margin-top {
  margin-top: 0px;
}

.button-group.center {
  justify-content: center;
}

.button {
  padding: var(--button-vertical-space) var(--button-horizontal-space);
  border: 1px solid black;
  border-radius: var(--button-radius);
  background-color: var(--black-6134e280);
  font-size: var(--button-font-size);
}

.button:focus-visible {
  border: 1px solid var(--accessibility-59ef7f15);
  border-radius: 0px;
  background-color: hsla(0, 0.00%, 27.33%, 1.00);
}

@media screen and (max-width: 479px) {
  .button {
    padding: var(--button-vertical-space-mobile) var(--button-horizontal-space-mobile);
  }
}

.button.secondary {
  border: 1px solid var(--black-6134e280);
  background-color: hsla(0, 0.00%, 100.00%, 0.00);
  color: var(--black-6134e280);
}

.button.full-width {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}